html {
  background-color: #E4E9FD;
  /* background-image:  url("https://images.unsplash.com/photo-1641261689141-ee46b8a0470c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"); */
  background-image: -webkit-linear-gradient(45deg,#A683E3 50%, #E4E9FD 50%) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: auto;
  font-family: 'helvetica neue';
  overflow-y: scroll;
}


h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 430px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
 
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  justify-content: space-between;
}


.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}


button {
  display: table;
  min-height: 45px;
  margin-right: 8px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 25px;
  padding-bottom: 6px;
  border-width: 0;
}

button:hover{
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}



@media screen and (max-width:400px){
  .box{
    width: 350px;
  }

  p{
    font-weight: 550;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  button{
    min-height: 36px;
    width: 35px;
  }

  input[type="text"] {
    text-align: center;
    height: 50px;
    top: 8px;
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: 300;
    width: 313px;
  }
 
  .item{
    min-height: 40px;
  }

}

